* {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    overflow-x: hidden;
}
.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 100px;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
#input-mass {
    height: 20px;
    width: 100px;
}
#input-el {
    height: 20px;
    width: 100px;
}
.menu-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}
#button-solve {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100px;
    height: 20px;
    border: none;
    background: none;
    border: 1px solid black;
    cursor: pointer;
}
.head-line-binFind {
    margin-bottom: 40px;
}
#log {
    display: flex;
    width: 100%;
    min-height: 100px;
    border: 1px solid black;
    flex-direction: column;
}
.input-mass-wrapper {
    display: flex;
    flex-direction: row;
}
.input-el-wrapper {
    display: flex;
    flex-direction: row;
}
.text-wrapper p {
    margin-bottom: 20px;
}
.input-wrapper textarea {
    margin-bottom: 20px;
}

.Fails p{
    color: red;
}
.Success p {
    color: green;
}

.Answer {
    margin-top: 20px;
}